* {
    box-sizing: border-box;
}

h3 {
    margin-top: 100px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
}


.credits {
    display: flex;
    gap: 10px;
    float: left;
}


.credits ul li {
    list-style: none;
    text-align: center;

}

.credits ul li p {
    font-weight: 700;
    font-size: 21px;
    color: #000;
}

.credits ul li .original_name {
    font-size: .9em;
}
